.nav-container {
    background: #de4e41;
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;

    #navbarNavAltMarkup {
        justify-content: right;
      }

    .navbar-nav {
        text-align: right;
    }

    .nav-link {
        padding-right: 10px;
      }
}