.nav-container {
    background: var(--primary);
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    z-index: 1000;
    #navbarNavAltMarkup {
        justify-content: right;
      }

    .navbar-nav {
        text-align: right;
    }

    .nav-link {
        padding-right: 10px;
      }
}