.nav-container {
    background-color: gray;
    position: fixed;
    width: 100%;
    top: 0;

    #navbarNavAltMarkup {
        justify-content: right;
      }
    .navbar-brand {
        
    }

    .navbar-nav {
        text-align: right;
    }

    .nav-link {
        padding-right: 10px;
      }
}